header{
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    padding: 0 7%;
    border-bottom: 1px solid #98A1B3;
}
.menu{
    display: flex;
    width: 587px;
    justify-content: center;
    align-items: center;
    gap: 63px;
    direction: rtl;
    margin-bottom: -4px;
}
.mune-link{
    color: var(--Black, #383D48);

    /* Ravi/R14 */
    font-family: Ravi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.mune-link:first-child{
    display: flex;
    width: 98px;
    height: 11px;
    padding: 14px 19px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px 4px 0px 0px;
    background: #F79F1A;
    color: var(--White, #FFF);

    /* Ravi/B14 */
    font-family: Ravi;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
    text-transform: capitalize;
    
}
.categories{
    display: flex;
    width: 265px;
    padding: 12px 19px;
    justify-content: center;
    align-items: center;
    gap: 90px;
    border-radius: 4px 4px 0px 0px;
    background: var(--Linear01, linear-gradient(180deg, #DEDEDE 0%, rgba(222, 222, 222, 0.00) 100%));
}
.category{
    width: 111px;
    height: 21px;
    flex-shrink: 0;
    color: var(--Black, #383D48);
    text-align: right;

    /* Ravi/R14 */
    font-family: Ravi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.category-icon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}